.d-f {
    display: flex;
    justify-content: space-around;
}
.leftbox {
    flex: 1.5;
    min-height: 800px;
}
.rightbox {
    flex:8.5;
    min-height: 800px;
    padding: 15px 10px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.showbox {
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;
}